.feature {
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  flex-basis: 100%;
  margin-bottom: 30px;
  // margin-right: 30px;
  // width: 270px;

  &:last-child {
    margin-right: 0px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    width: 354px;
    margin: 0 auto;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
    flex-wrap: nowrap;
    width: 270px;
    margin: 0 auto;
    justify-content: center;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 100px;
  background-color: var(--third-bg-color);
  margin-bottom: 30px;
}

.features-titles {
  margin-bottom: 10px;
  @include font700(700, 14, 16, 0.03);

  text-transform: uppercase;
}
.features-text {
  @include font(400, 14, 24, 0.03);
  color: var(--primary-text-color);
}
