.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  white-space: normal;
  @include font(900, 44, 60, 0.06);
  text-align: center;
  text-transform: uppercase;

  color: var(--third-text-color);
}
