.hero__btn {
  border-radius: 4px;
  padding: 10px 24px;
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  text-align: center;

  background-color: var(--accent-text-color);
  color: var(--third-text-color);
  font-family: inherit;
  @include font700(700, 16, 30, 0.06);
  border: none;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn-hover);
  }
}
